# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/node_modules/*

/.idea
/.idea/*
/.pnp
.pnp.js

# testing
/coverage

# production build outputs
/.next/        # Next.js
/.next/*        # Next.js
/out/          # Next.js
/build         # General build output

# misc
.DS_Store      # macOS file
*.pem          # Certificate files

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env*.local    # Ignore all local env files

# Platform-specific files
.vercel        # Vercel deployment files

# TypeScript
*.tsbuildinfo  # TypeScript incremental build information
next-env.d.ts  # Next.js TypeScript configuration
